// Font Family Variable
$gilroy: 'Gilroy';

// Colors
$primary-color: #061A2A;
$secondary-color: #F4CE24;
$dark-blue: #305AE6;
$green: #35C29E;
$light-green: #F0F7EE;
$light-blue: #A0B6FF;
$gradient-color: linear-gradient(77.1deg, #F1E9C8 1.23%, #F0F7EE 77.51%); 
$white: #fff;
$black: #000;
$light-black: rgba(0, 0, 0, 0.6);